/dts-v1/;
/memreserve/ 0x08000000 0x08000000;	/* Set by VideoCore */
/include/ "bcm2835.dtsi"

/ {
	model = "Raspberry Pi Model A (BCM2835)";
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "raspberrypi,model-a", "broadcom,bcm2835", "broadcom,bcm2708";

	memory {
		device_type = "memory";
		reg = <0 0x10000000>; /* 256MB */
	};

	leds {
		compatible = "gpio-leds";

		ok {
			label = "ok";
			gpios = <&gpio 16 1>;

			/* Don't change this - it configures
			 * how the led driver determines if
			 * the led is on or off when it loads.
			 */
			default-state = "keep";

			/* This is the real default state. */
			linux,default-trigger = "default-on";
		};
	};

	axi {
		pins: pinctrl {
			pins =
			/*  0 */	"P1-03",	/*  1 */	"P1-05",	/*  2 */	"S5-14",	/*  3 */	"S5-13",
			/*  4 */	"P1-07",	/*  5 */	"S5-12",	/*  6 */	"IC3-12",	/*  7 */	"P1-26",
			/*  8 */	"P1-24",	/*  9 */	"P1-21",	/* 10 */	"P1-19",	/* 11 */	"P1-23",
			/* 12 */	"",		/* 13 */	"",		/* 14 */	"P1-08",	/* 15 */	"P1-10",
			/* 16 */	"D5",		/* 17 */	"P1-11",	/* 18 */	"P1-12",	/* 19 */	"",
			/* 20 */	"",		/* 21 */	"P1-13",	/* 22 */	"P1-15",	/* 23 */	"P1-16",
			/* 24 */	"P1-18",	/* 25 */	"P1-22",	/* 26 */	"",		/* 27 */	"S5-11",
			/* 28 */	"R8+R10",	/* 29 */	"R7+R9",	/* 30 */	"R4+R6",	/* 31 */	"R3+R5",
			/* 32 */	"",		/* 33 */	"",		/* 34 */	"",		/* 35 */	"",
			/* 36 */	"",		/* 37 */	"",		/* 38 */	"",		/* 39 */	"",
			/* 40 */	"R21",		/* 41 */	"",		/* 42 */	"",		/* 43 */	"",
			/* 44 */	"",		/* 45 */	"R27",		/* 46 */	"IC1-6",	/* 47 */	"S8-10",
			/* 48 */	"R48",		/* 49 */	"R47",		/* 50 */	"R49",		/* 51 */	"R50",
			/* 52 */	"R45",		/* 53 */	"R46";

			groups = /*	GPIO_I		GPIO_O	ALT0			ALT1		ALT2		ALT3		ALT4		ALT5	*/
			/*  0 */	"P1",		"",	"BSC0",			"",		"",		"",		"",		"",
			/*  1 */	"P1",		"",	"BSC0",			"",		"",		"",		"",		"",
			/*  2 */	"S5",		"",	"BSC1|CAM",		"",		"",		"",		"",		"",
			/*  3 */	"S5",		"",	"BSC1|CAM",		"",		"",		"",		"",		"",

			/*  4 */	"P1",		"",	"GPCLK0|CAM",		"",		"",		"",		"",		"ARM_JTAG",
			/*  5 */	"S5",		"",	"CAM",			"",		"",		"",		"",		"ARM_JTAG",
			/*  6 */	"",		"",	"GPCLK2",		"",		"",		"",		"",		"",
			/*  7 */	"P1",		"",	"SPI0",			"",		"",		"",		"",		"",

			/*  8 */	"P1",		"",	"SPI0",			"",		"",		"",		"",		"",
			/*  9 */	"P1",		"",	"SPI0",			"",		"",		"",		"",		"",
			/* 10 */	"P1",		"",	"SPI0",			"",		"",		"",		"",		"",
			/* 11 */	"P1",		"",	"SPI0",			"",		"",		"",		"",		"",

			/* 12 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 13 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 14 */	"P1",		"",	"UART0|UART0_FC",	"",		"",		"",		"",		"UART1|UART1_FC",
			/* 15 */	"P1",		"",	"UART0|UART0_FC",	"",		"",		"",		"",		"UART1|UART1_FC",

			/* 16 */	"",		"",	"",			"",		"",		"UART0_FC",	"",		"UART1_FC",
			/* 17 */	"P1",		"",	"",			"",		"",		"UART0_FC",	"",		"UART1_FC",
			/* 18 */	"P1",		"",	"PCM",			"",		"",		"BSCSL|SPISL",	"",		"PWM0",
			/* 19 */	"",		"",	"PCM",			"",		"",		"BSCSL|SPISL",	"",		"",

			/* 20 */	"",		"",	"PCM",			"",		"",		"SPISL",	"",		"",
			/* 21 */	"P1",		"",	"PCM",			"",		"",		"SPISL",	"",		"GPCLK1",
			/* 22 */	"P1",		"",	"",			"",		"",		"",		"ARM_JTAG",	"",
			/* 23 */	"P1",		"",	"",			"",		"",		"",		"ARM_JTAG",	"",

			/* 24 */	"P1",		"",	"",			"",		"",		"",		"ARM_JTAG",	"",
			/* 25 */	"P1",		"",	"",			"",		"",		"",		"ARM_JTAG",	"",
			/* 26 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 27 */	"CAM|S5",	"",	"",			"",		"",		"",		"",		"",

			/* 28 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 29 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 30 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 31 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 32 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 33 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 34 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 35 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 36 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 37 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 38 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 39 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 40 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 41 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 42 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 43 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 44 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 45 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 46 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 47 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 48 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 49 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 50 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 51 */	"",		"",	"",			"",		"",		"",		"",		"",

			/* 52 */	"",		"",	"",			"",		"",		"",		"",		"",
			/* 53 */	"",		"",	"",			"",		"",		"",		"",		"";
		};

		uart1 {
			status = "disable";
		};
	};
};
