/dts-v1/;
/include/ "skeleton.dtsi"

/ {
	model = "BCM2708";
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "broadcom,bcm2708";
	interrupt-parent = <&intc>;

	cpus {
		cpu@0 {
			compatible = "arm,1176jz-f";
		};
	};

	axi@0x20000000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x20000000 0x01000000>;
		ranges = <0 0x20000000 0x01000000>;

		st: timer@0x3000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x3000 0x1000>;
			ranges = <0 0x3000 0x1000>;

			stc: clock@0x004 {
				compatible = "fixed-clock";
				clock-outputs = "sys";
				clock-frequency = <1000000>;
			};
		};

		armctrl@0xB000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0xB000 0x1000>;
			ranges = <0 0xB000 0x1000>;

			intc: interrupt-controller@0x200 {
				compatible = "broadcom,bcm2708-armctrl-ic";
				reg = <0x200 0x200>;
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		amba {
			compatible = "arm,amba-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			uart0: uart@0x201000 {
				compatible = "arm,pl011", "arm,primecell";
				reg = <0x201000 0x1000>;
				interrupts = <83>;
			};
		};
	};
};
