/dts-v1/;
/include/ "skeleton.dtsi"

/ {
	model = "BCM2708";
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "broadcom,bcm2708";

	cpus {
		cpu@0 {
			compatible = "arm,1176jz-f";
		};
	};

	axi@0x20000000 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x20000000 0x01000000>;
		ranges = <0 0x20000000 0x01000000>;

		st: timer@0x3000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0x3000 0x1000>;
			ranges = <0 0x3000 0x1000>;

			stc: clock@0x004 {
				compatible = "fixed-clock";
				clock-outputs = "sys";
				clock-frequency = <1000000>;
			};
		};

		armctrl@0xB000 {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			reg = <0xB000 0x1000>;
			ranges = <0 0xB000 0x1000>;

			vic0: interrupt-controller@0x200 {
				compatible = "broadcom,bcm2708-armctrl-ic", "arm,primecell";
				reg = <0x200 0x4 0x218 0x4 0x224 0x4>;
				interrupt-controller;
				#interrupt-cells = <1>;
			};

			vic1: interrupt-controller@0x204 {
				compatible = "broadcom,bcm2708-armctrl-ic", "arm,primecell";
				reg = <0x204 0x4 0x210 0x4 0x21C 0x4>;
/*
				interrupt-parent = <&vic0>;
				interrupts = <8>;
*/
				interrupt-controller;
				#interrupt-cells = <1>;
			};

			vic2: interrupt-controller@0x208 {
				compatible = "broadcom,bcm2708-armctrl-ic", "arm,primecell";
				reg = <0x208 0x4 0x214 0x4 0x220 0x4>;
/*
				interrupt-parent = <&vic0>;
				interrupts = <9>;
*/
				interrupt-controller;
				#interrupt-cells = <1>;
			};
		};

		amba {
			compatible = "arm,amba-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;

			uart0: uart@0x201000 {
				compatible = "arm,pl011", "arm,primecell";
				reg = <0x201000 0x1000>;
				interrupt-parent = <&vic0>;
				interrupts = <19>;
			};
		};
	};
};
